.shadow-font {
    font-family: 'Shadows Into Light', cursive;
}

.shadow2-font {
    font-family: 'Shadows Into Light Two', cursive;
}

.neucha-font {
    font-family: 'Neucha', cursive;
}

.roboto-font {
    font-family: 'Roboto', sans-serif;
}

.badscript-font {
    font-family: 'Bad Script', cursive;
}
